<p>
	This example is for a Java program using ant as the build system
</p>
<p>
	Debhelper will use ant to automatically build and clean a package with a 
	build.xml. The jar is installed and linked as in the non-ant version.
</p>
<p>
	Upstream build-systems often miss things like including the classpath
	and main-class in the jar manifest. For more complicated manifest 
	updating we use the .manifest file.
</p>
